<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name">
          </mat-form-field>

  
          <mat-form-field class="example-full-width">
            <mat-label>Select Profile pic</mat-label>
            <input #imageInput
            type="file"
            accept="image/*"
            (change)="processFile(imageInput)">
   
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" routerLink="/login" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>